<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>loginServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reginforServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.Reg_InforServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getoldlistServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.OldGetBookList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>likeServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.LikeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>findinforServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.FindInforServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checklikeServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.CheckLikeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cancellikeServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.CancelLikeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>subscribeServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.SubscribeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rentcarServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.RentCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checksubServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.CheckSubServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getlikeServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.GetLikeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getbookServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.GetBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getsubServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.GetSubServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cancelsubServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.CancelSubServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getcarServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.GetCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cancelcarServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.CancelCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rentoneServ</servlet-name>
  	<servlet-class>cn.edu.uzz.servlet.RentOneServlet</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
  	<servlet-name>rentoneServ</servlet-name>
  	<url-pattern>/rentoneServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cancelcarServ</servlet-name>
  	<url-pattern>/cancelcarServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getcarServ</servlet-name>
  	<url-pattern>/getcarServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cancelsubServ</servlet-name>
  	<url-pattern>/cancelsubServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getsubServ</servlet-name>
  	<url-pattern>/getsubServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getbookServ</servlet-name>
  	<url-pattern>/getbookServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getlikeServ</servlet-name>
  	<url-pattern>/getlikeServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checksubServ</servlet-name>
  	<url-pattern>/checksubServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rentcarServ</servlet-name>
  	<url-pattern>/rentcarServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>subscribeServ</servlet-name>
  	<url-pattern>/subscribeServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cancellikeServ</servlet-name>
  	<url-pattern>/cancellikeServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checklikeServ</servlet-name>
  	<url-pattern>/checklikeServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>findinforServ</servlet-name>
  	<url-pattern>/findinforServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>likeServ</servlet-name>
  	<url-pattern>/likeServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getoldlistServ</servlet-name>
  	<url-pattern>/getoldlistServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reginforServ</servlet-name>
  	<url-pattern>/reginforServ</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registServ</servlet-name>
  	<url-pattern>/registServ</url-pattern>
  	</servlet-mapping>
    <servlet-mapping>
  	<servlet-name>loginServ</servlet-name>
  	<url-pattern>/loginServ</url-pattern>
  	</servlet-mapping>
  
</web-app>